<mat-sidenav-container fxFlex fxFlexFill>
    <mat-sidenav #sideMenu>
        <app-menu-bar></app-menu-bar>
    </mat-sidenav>
    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFill>
        <header>
            <router-outlet name="header"></router-outlet>
        </header>

        <article fxFlex fxFlexFill>
            <router-outlet></router-outlet>
        </article>

        <footer>
            <router-outlet name="footer"></router-outlet>
        </footer>
    </div>
</mat-sidenav-container>
