@import "setting";

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

body {
    background: $main-bg-color;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: $fontFamily;
}

app-root, app-admin {
    display: flex;
    flex-direction: column;
    flex: 1;
}

mat-sidenav, .mat-drawer {
    width: $sidenav-width;
    background: $sidenav-bg-color;
    color: $sidenav-txt-color;
}

.normal-content {
    padding: 0 1em;
}

header {
    order: 1;
    flex-shrink: 0;
}

article {
    order: 2;
    flex: 1;
    overflow: auto;
}

footer {
    order: 3;
    flex-shrink: 0;
}

